@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>未授权</title>
    <link rel="stylesheet" href="/js/app/ShopWechatOpenOAuth/flexible.css">
    <script src="/js/app/ShopWechatOpenOAuth/flexible.js"></script>
    <link rel="stylesheet" href="/js/app/ShopWechatOpenOAuth/style.css">
</head>
<body>
    <div class="warp">
    <div class="message-img">
        <img src="/js/app/ShopWechatOpenOAuth/error.png" alt="">
    </div>
    <div class="message">操作失败</div>
    <div class="tips">您没有权限查看订单</div>
    </div>
</body>
</html>