@model ZRui.Web.ArticleSetModels.OpenModel
@{
    ViewBag.Title = "Detail";
    ViewBag.ngController = "articleSetOpenController";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}
<section ng-init="init('@Model.CommunityFlag','@Model.AppFlag',@Model.Id)"></section>
<div style="position:fixed; right:10px; bottom:25px; z-index:10000 ">
    <div><a class="btn btn-default" href="javascript:;" title="保存" ng-click="save()"><i class="fa fa-save"></i></a></div>
</div>
<textarea content="current.content" style="height:250px;" ueditor editor="editEditor" server-url="/articleSet/ueditorUpload?communityFlag=@Model.CommunityFlag&appFlag=@Model.AppFlag"></textarea>


@section detailView{
}
@section scripts{
    <script type="text/javascript" charset="utf-8" src="/lib/ueditor/ueditor.config.js?v1.1"></script>
    <script type="text/javascript" charset="utf-8" src="/lib/ueditor/ueditor.all.min.js"> </script>
    <script src="/lib/ajaxfileupload.js"></script>
    <script src="/js/app/ArticleSet/open.js"></script>
}

@section head{
}
