<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />  
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="domain" value="http://wxapi.91huichihuihe.com/api/" />
  </appSettings>
  <connectionStrings>
    <add name="HchhConfigConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=120.79.31.209;port=3336;Initial Catalog=hchh_config;uid=root;password=628VqB2sgJwLgOvngXQ3;Charset=utf8" />    
    
    <!--<add name="HchhConfigConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.200;port=3306;Initial Catalog=hchh_config;uid=root;password=hchh1688;Charset=utf8" />-->
    
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>